dist: xenial

language: cpp

os:
  - linux
  - osx
compiler: clang
osx_image: xcode11.2

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-xenial-7
    packages:
      - g++-7
      - libgflags-dev
      - lcov
      - clang-format-7

env:
  - BUILD_TYPE="Release"
  - SANITIZER="ASAN"
  - SANITIZER="TSAN"
  - SANITIZER="UBSAN"

# For GCC build, we also report code coverage to codecov.
matrix:
  exclude:
    - os: osx
      env: SANITIZER="TSAN"
    - os: osx
      env: SANITIZER="UBSAN"
    - os: osx
      env: BUILD_TYPE="Release"
  include:
    - os: linux
      compiler:
      env:
        - COMPILER=gcc7
    - os: linux
      compiler:
      env:
        - FORMATTER=ON


install:
  # osx dependencies
  - if [ "${TRAVIS_OS_NAME}" == osx ]; then
      to_install=( "gflags" "zstd" "lz4" "snappy" "xz" );
      brew list > tmp;
      for ins in ${to_install[*]}; do
        grep -q "$ins" tmp;
        if [ $? -ne 0 ]; then
          brew install "$ins";
        fi
      done
    fi
  - export CTEST_OUTPUT_ON_FAILURE=1
  - if [ "${COMPILER}" == gcc7 ]; then
      CC=gcc-7;
      CXX=g++-7;
      export COVERAGE_OPT="-DCODE_COVERAGE=ON";
    fi
  - if [ ! -z "${BUILD_TYPE}" ]; then
      export BUILD_OPT="-DCMAKE_BUILD_TYPE=${BUILD_TYPE}";
    else
      export BUILD_OPT="-DCMAKE_BUILD_TYPE=Debug";
    fi
  - if [ ! -z "${SANITIZER}" ]; then
      export SANITIZER_OPT="-DWITH_${SANITIZER}=ON";
      export TOOLS_OPT="-DWITH_TITAN_TOOLS=OFF";
    fi

script:
  - if [ -z "${FORMATTER}" ]; then
      bash scripts/travis-make.sh;
    else
      bash scripts/travis-format.sh;
    fi

after_success:
  - if [ "${COMPILER}" == gcc7 ]; then
      lcov --gcov-tool gcov-7 --directory . --capture --output-file coverage.info;
      lcov --remove coverage.info '/usr/*' --output-file coverage.info;
      lcov --list coverage.info;
      bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports";
    fi
